@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
*, ::before, ::after { box-sizing: border-box; }
body{
  font-family:'Quicksand', sans-serif;
  text-align:center;
  line-height:1.5em;

  background-image: url(img/fondo-madera-marron.jpg)
}

h1{
  color:#fff;
}


#carttotals{
  color: #fff;

}

.cart-container{
  color: #fff;
}



hr {
  border:none;
  background:#E0E4CC;
  height:1px;

}
.container {
  max-width: 800px; 
  margin: 1em auto; 
}
.productcont {
  display: flex; 
}
.product {
  color:#fff;
  padding:1em; 
  border:1px solid #E0E4CC; 
  margin-right:1em; 
}
.cart-container {
  border:1px solid #E0E4CC;
  margin-top:1em;
  padding:1em;
}
button, input[type="submit"] { 
    border:1px solid #798777; 
    color:#fff; 
    background: #798777; 
    padding:0.6em 1em;
    font-size:1em; 
    line-height:1; 
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
button:hover, button:focus, button:active, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
    background: #d8f8b7;
    border-color:#d8f8b7;
    color:#000;
    cursor: pointer;
}
table {
  margin-bottom:1em;
  border-collapse:collapse;
}
table td, table th {
  text-align:left;
  padding:0.25em 1em;
}
#carttotals {
  margin-right:0;
  margin-left:auto;
}
.cart-buttons {
  width:auto;
  margin-right:0;
  margin-left:auto;
  display:flex;
  justify-content:flex-end;
  padding:1em 0;
}
#emptycart {
  margin-right:1em;
}
table td:nth-last-child(1) {
  text-align:right;
}
.message {
  border-width: 1px 0px;
  border-style:solid;
  border-color:#A7DBD8;
  color:#679996;
  padding:0.5em 0;
  margin:1em 0;
}